.dark-bg {
  background-color: #2c3e50;
}

.dark-text {
  color: #2c3e50;
}

.active {
  background-color: #1abc9c;
  padding: 9px;
  border-radius: 8px;
}

.home,
.about {
  background-color: #1abc9c;
  height: 612px;
}

.home-img {
  width: 250px;
}

.about {
  min-height: fit-content;
}

.line {
  width: 80px;
  height: 4px;
}

.layer {
  background-color: #1abc9ce6;
  cursor: pointer;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover {
  opacity: 1;
}

.form-control:focus {
  box-shadow: none;
}

.btn-primary {
  --bs-btn-bg: #1abc9c;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-bg: #1abc9c;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-bg: #1abc9c;
  --bs-btn-active-border-color: transparent;
}

.card {
  --bs-card-bg: transparent;
  --bs-card-border-color: none;
}

.circle {
  border: 1px solid white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
}

.footer-footer {
  background-color: #1a252f;
}

.not-found {
  background-color: #1abc9c;
  height: calc(100vh - 322px - 106px);
  min-height: fit-content;
}

.navbar-toggler:focus {
  box-shadow: none;
}

@media screen and (min-width: 992px) {
  .about-container {
    width: 85%;
  }
}

@media screen and (max-width: 992px) {
  .about {
    padding: 20px 0px 20px 0px !important;
  }
}

@media screen and (max-width: 990px) {
  .navbar-nav {
    align-items: center;
    margin-top: 16px;
  }
}

@media screen and (max-width: 770px) {
  .form {
    width: 100% !important;
  }
}

@media screen and (min-width: 400px) {
  .nav-header {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .nav-container {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}
